* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Figtree
}


body {
    background: hsl(47, 88%, 63%);
    display: grid;
    place-items: center;
    height: 100vh;
    /* font-family: 'Figtree'; */
}


#main-card {
    width: 400px;
    max-width: 80%;
    height: 480px;
    max-height: 80%;
    background: #fff;
    border: 1.2px solid #000;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 0;
    /* justify-content: center; */
    /* gap: 20px; */
    align-items: center;
    transition: 0.3s;
    
}

#main-card:hover {
    box-shadow: 8px 8px;
}


#main-card img {
    width: 90%;
    border-radius: 12px;
}

p.date {
    font-size: 12px;
}


div.info {
    /* border: 2px solid #f00; */
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.title {
    background: hsl(47, 88%, 63%);
    width: 70px;
    height: 20px;
    display: grid; place-items: center;

    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}



p.text {
    color: hsl(0, 0%, 42%);
}


#credit {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}

#credit img {
    width: 25px;
}